/* Reset */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 0.2rem;
  background-color: #111;
  border-radius: 5rem;
  width: auto;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  height: 100%;
  width: 100%;
}

.header a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.42rem 1rem;
  border-radius: 5rem;
  transition: color 0.3s;
}

.header a:hover {
  background-color: #333;
  transition: ease 0.3s;
}

/* Test Section (Red Background) */
.hero {
  height: 100vh;
}

/* Sections */
section {
  border: 1px solid black;
}
.about {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.projects {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 20vh;
  align-items: center;
}
