* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  background-color: #111;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  height: 4rem;
  width: auto;
  padding: 0.2rem;
}

.nav-items {
  align-items: center;
  display: flex;
  gap: 3rem;
  height: 100%;
  width: 100%;
  list-style: none;
}

.header a {
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: color 0.3s;
  border-radius: 5rem;
}

.header a:hover {
  background-color: #333;
  transition: ease 0.3s;
}
