html {
  font-family: sans-serif, Arial, Helvetica;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .nav-items {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 100%;
    position: absolute;
    top: 2rem; /* navbar height */
    left: 0;
    transition: max-height 0.4s ease;
  }
  .nav-items a {
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
  }

  .nav-items.active {
    max-height: 20rem;                /* expand to full screen */
    justify-content: space-evenly;    /* even vertical spacing */
  }
}

  
@keyframes max-height {
  from {
    opacity: 0;
    transform: translateY(-10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 700px) {
  .hamburger {
    display: none;
  }
}

/* nav bar styles */
.nav-bar {
  display: flex;
  position: sticky;
  background-color: white;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.nav-bar a {
  color: black;
  text-decoration: none;
  padding: 0 2rem;
}

.nav-bar h1 {
  font-weight: bolder;
}

/* hero section styles */

.hero {
  display: flex;
  height: 90vh;
  background-color: lightgray;
  background-image: url(https://static.videezy.com/system/resources/previews/000/052/020/original/alb_futrshap1016_1080p_24fps.mp4);
  background-position: center;
  background-repeat: no-repeat;
}

.hero .container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
